{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}
	<style>

	</style>

	<div class="search-wrapper">

		<form action="{{ url("search") }}">
			<input type="search" name="q" placeholder="Search">
			<input type="submit" value="Go">
		</form>

	</div>
{% endblock %}
